* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.04rem;
}

.Container {
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: seashell;

    .Div-info {
        width: 100%;
        height: auto;
        background-color: cadetblue;
        padding: 12px;
        font-size: 1.4rem;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Texto {
            font-size: 0.92rem;
            font-weight: 500;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .Ver-Mais,
        .Ver-Menos {
            padding: 6px 14px;
            background-color: green;
            font-family: 'Times New Roman', Times, serif;
            color: snow;
            font-weight: 500;
            font-size: 0.9rem;
            letter-spacing: 2px;
            border-radius: 0 20%;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.06) rotate(2deg);
                background-color: rgba(0, 0, 0, 0.1);
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .Primeiro,
    .Restante {
        background-color: palevioletred;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(5, minmax(120px, 1fr));
        gap: 42px;
        position: relative;
        padding: 40px 120px;

        .Card {
            background-color: skyblue;
            width: 100%;
            height: auto;
            position: relative;
            overflow: hidden;
            border-radius: 1.2rem;
            display: grid;
            gap: 12px;

            .Promo {
                position: absolute;
                bottom: 10px;
                right: 4px;
                background-color: orange;
                padding: 4px;
                width: 50%;
                color: seagreen;
                border-radius: 0px 12px;
                transform: rotate(-12deg);
                justify-content: center;
                text-align-last: center;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 1.06rem;
            }

            .IMG {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: transparent;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .Desc {
                display: flex;
                flex-direction: column;
                gap: 32px;
                margin-bottom: 12px;

                .Nome {
                    font-size: 0.92rem;
                    font-weight: 100;
                }

                .Preco {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    padding: 0px 8px;
                    font-size: 1rem;
                    font-weight: 700;
                    color: snow;
                }
            }
        }
    }
}